/* Typograhpy */
@import url("https://fonts.googleapis.com/earlyaccess/thabit.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

h1 {
  font-family: "Thabit", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $color_white;
}

h2 {
  font-family: "Thabit", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.75rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: underline;
}

p {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-align: justify;
  letter-spacing: 0.5px;
  white-space: normal;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

// Buttons
a[class^="btn"] {
  cursor: pointer;
  font-family: "Thabit", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-decoration: none;
}

// Medium device
@media (min-width: $display_medium) {
  h1 {
    font-size: 4rem;
    line-height: 3.75rem;
    letter-spacing: 0.75px;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: 0.5px;
  }

  p {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0.5px;
  }

  a[class^="btn"] {
    font-size: 1.25rem;
    line-height: 1rem;
  }
}

// Large device
@media (min-width: $display_large) {
  h1 {
    font-size: 4.5rem;
    line-height: 4.25rem;
    letter-spacing: 0.75px;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    letter-spacing: 0.75px;
  }

  p {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.75px;
  }

  a[class^="btn"] {
    font-size: 1.5rem;
    line-height: 1.25rem;
  }
}
