/* Navbar */
.nav-bar {
  width: 100%;
  height: 60px;
  @include flexbox(space-between, flex-start); // justify, align;
  position: fixed;
  left: 0;
  top: 0;
  z-index: $zIndexNavBar;

  .nav-logo {
    @include flexbox(center, center); // justify, align;
    position: absolute;
    z-index: $zIndexNavButton + 2;
    opacity: 0;
    top: $space_m;
    @include transform-horizontal();

    &:hover {
      cursor: pointer;

      svg {
        animation: heartbeat 0.35s ease-out;
      }
    }

    svg {
      width: 24px;
      height: 24px;

      path {
        fill: $color_accent;
      }
    }
  }

  .nav-btns {
    width: 100vw;
    height: 100vh;
    @include flexbox(center, center); // justify, align;
    flex-direction: column;
    background: $color_secondary;
    z-index: $zIndexNavButton;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    display: none;
    overflow: hidden;

    a {
      margin-bottom: $layout_m;

      &:first-child {
        margin-top: $layout_m;
      }
    }
  }
  .btn-menu-toggle {
    position: fixed;
    bottom: $space_m;
    @include transform-horizontal();
  }

  &.show {
    z-index: $zIndexNavBar;
    transition: opacity 0.35s ease-in-out;
    opacity: 1;

    .nav-logo {
      z-index: $zIndexNavButton + 1;
      opacity: 1;
    }

    .nav-btns {
      opacity: 1;
      display: flex;

      &::before {
        content: "";
        height: 100%;
        width: 0;
        position: fixed;
        left: 0;
        top: 0;
        background: $color_black;
        z-index: $zIndexNavButton + 1;
        animation: curtain-horizontal $curtain-time ease-in;
      }

      &::after {
        content: "";
        height: 100%;
        width: 0;
        position: fixed;
        z-index: $zIndexNavButton + 1;
        right: 0;
        bottom: 0;
        background: $color_black;
        animation: curtain-horizontal $curtain-time ease-in;
      }
    }
  }
}

@media (min-width: $display_large) {
  .nav-bar {
    padding: $space_m;

    .nav-logo {
      position: static;
      opacity: 1;
      transform: none;
    }

    .nav-btns {
      flex-direction: row;

      a {
        margin-right: $space_xl;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .btn-menu-toggle {
      position: static;
      transform: none;
    }
  }
}
