/* Page-Logo */
.page-logo {
  width: 100%;
  height: 60px;
  position: absolute;
  @include flexbox(center, center); // justify, align;
  z-index: $zIndexPageLogo;

  svg {
    position: absolute;
    top: $space_m;
    @include transform-horizontal();

    path {
      fill: $color_secondary;
    }
  }

  &:hover {
    cursor: pointer;

    svg {
      animation: heartbeat 0.35s ease-out;
    }
  }
}

@media (min-width: $display_large) {
  .page-logo {
    display: none;
  }
}
